@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

:root{
    --cor-primaria:  rgb(255, 255, 255);
    --cor-secundaria: #263238;
    --cor-terciaria:#FF725E;

    --fonte-primaria: "Montserrat", sans-serif;
    --fonte-secudaria: "Monoton", sans-serif;

}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    box-sizing: border-box; 
    
}

.cabecalho{
    padding:2% 0% 0% 15% ;
    
 
 }
 
 .cabecalho__menu{
 display: flex;
 justify-content:end;
 padding: 0% 6%;
 gap: 100px;
 }
 
 
 .cabecalho__menu__link{
     font-family:var(--fonte-primaria);
     font-size: 24px;
     font-weight: 400;
     color: var(--cor-secundaria);
     text-decoration: none;
 }